
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.centered-container {
  max-width: 1200px;
  margin: 0 auto;
}
 img {
   max-width: 100%;
 }

.content {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

/* General */
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}