.main-header {
  
  .search {
    margin-top: 2rem;
    .content {
      display: flex;
      align-items:center;
    
        span {
          margin-left: -3rem;
          cursor: pointer;
          pointer-events: none;
        }
        form {
          input {
            width: 12rem;
            background-color: #cccc;
            border:none;
            padding: 0.5rem;
            border-radius:4rem;

          }
      }
    }
  }

  .search-form button {
    background:url('../src/img/search.svg');
    height: 1.5rem;
    width: 1.5rem;
    border:none;
    cursor: pointer;
    
  }
  .centered-container {
    display: flex;
    align-items:center;
  }
  #searchsubmit {
    width: 5rem;
    padding: 0.5rem;
    border: transparent;
    background:transparent;
    color:transparent;
    cursor: pointer;
  }

  .main-header__logo {
    img {
      margin-top: 2rem;
      margin-right: 12rem;
    }
  }

  .cart {
    position: relative;
    right: -13%;
    cursor: pointer;
    

    .items {
      background:#CA2424;
      width: 1rem;
      height: 1rem;
      border-radius:50%;
      display: inline-block;
      text-align: center;
      color:#fff;
      font-size: 0.75rem;
    }
  }
}

