.main-menu {
  text-align: center;
  .menu {
    position: relative;
    display: flex;
    list-style-type: none;
    height: 5rem;
    align-items:center;

    ul li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 0 1.6rem;
      font-size: 1.2rem;
      text-decoration: none;
      color:black;

      }
    }

    a::after{
      content:" ";
      width:0%;
      height: 0.20rem;
      background-color:black;
      transition: 0.5s ease-in-out;  
      display: block;
    }
  
     a:hover::after{
      width: 100%;
  
    }
    
  }

  